<section>
  <div class="catsInfo">
    <div class = "buttons">
      <button class = "sortedBtn" (click)="sortByName()">Sorted by name</button>
      <button class = "sortedBtn" (click)="sortByBreed()">Sorted by breed</button>
    </div>
  <div class="listElement" *ngFor="let cat of cats">
      <ng-container [ngSwitch]="cat.adopted">
          <div id="notAdopted" *ngSwitchCase=false>
              <ng-container *ngTemplateOutlet="catElement; context:{catInput :cat}"></ng-container>
          </div>
          <div id="adopted" *ngSwitchCase=true>
              <ng-container *ngTemplateOutlet="catElement; context:{catInput :cat}"></ng-container>
          </div>
      </ng-container>
      <div class="name">
        <span>{{cat.name}}, {{cat.breed}}</span>
      </div>
  </div>
</div>
</section>

<ng-template #catElement let-catInner="catInput">
  <img src="./assets/cats-pic/{{catInner.picUrls[0]}}" alt="" (click)="onClick(catInner)" matTooltip="{{catInner.funFact}}"
      matTooltipPosition='right'>
</ng-template>
